@font-face {
    font-family: "Argio";
    src: url("font\arigio\argioregular-pkzwm-webfont.woff");
    }

@font-face {
    font-family: "Anke";
    src: url("font\anke\anke-webfont.woff");
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background-color: #222326;
    color: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

#nav_container{
    display: flex;
    background-color: #222326;
}
#nav_category{
    list-style: none;
    padding-left: 50px;
    padding-top: 50px;
    background-color: #222326;
    width: 600px;
    margin-top: 2px;
    display: flex;
    font-size: 18px;
}
#nav_category li{
    display: inline-block;
    padding: 0px 20px;
    background-color: #222326;
    width: 140px;
}
#nav_category li a{
    transition: all 0.3s ease 0s;
    background-color: #222326;
    cursor: pointer;
    text-decoration: none;
}
#nav_category li a:hover{
    color: #ffc20e;
    font-size: 18px;
}
#homepage{
    font-size: 18px;
    color: #ffc20e;
}
#logo{
    cursor: pointer;
    margin: 10px 10px;
    background-color: unset;
}
#searchBar-container{
    background-color: #222326;
    padding-top: 50px;
    justify-content: flex-end;
}
#searchBar{
    margin-left: 0px;
    border-radius: 20px;
    width: 330px;
    border: none;
    background-color: #ffc20e;
    padding: 0 13px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    float: right;
}

#bar{
    border: none;
    background-color: #ffc20e;
    color: #222326;
    width: 300px;
}
#bar::placeholder {
    color: #222326;
    font-family: 'Montserrat', sans-serif;
}
#searchBtn{
    background-color: #ffc20e; 
    height: 20px;
    width: 20px;
    margin-top: 6px;
    cursor: pointer;
}

#searchBar span {
    background: #ffc20e;
    margin-left: 110px;
    
}

#background-container{
    /* font-family: 'Anke', sans-serif;s */
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./pj-img/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


#logo-name{
    color: #fff;
    font-size: 60px;
    margin-top: 230px;
    font-family: 'Anke', sans-serif;
    font-size: 68px;
    margin-bottom: -10px;
    
} 
#slogan{
    
    color: #fff;
    font-size: 25px;
    opacity: 0.6;
    margin-bottom: unset;
}

#slogan:hover{
    opacity: 1;
    transition: 0.5s;
}
#background-container a{
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#FF8000,#FAAC58);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
 /* #animateBtn {
    position: absolute;
    background: #fff;
    transform: translate(-62%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        width: 0px;
        height: 0px;

    }
    100%{
        width: 36px;
        height: 36px;
    }
} */

#background-img{
    width: 100%;
    height: 650px;

}
#scrollTo {
    justify-content: center;
    font-size: 60px;
    padding: 50px 200px 0 200px;
    font-weight: bold;
    font-style: italic;
}
#scrollTo span img{
    max-height: 60px;
    width: auto;
}


.column{
    float: left;
    padding: 10px;
}

.column.left-content-container{
    width: 66%;
    
}

.title{
    border-bottom: solid 1px;
    border-color: #ffc20e;
    width: max-content;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 30px;
    
    
}
#title-icon {
    max-width: 20px;
    
}

.slide{
    position: relative;
    background-color: transparent;
}

.slider{
    position: relative;
    overflow: hidden;
    background-color: transparent;
}
#each-slider{
    display: flex;
}
#each-slider2{
    display: flex;
}
.slider-panel{
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    margin-right: -20px;
    background-color: transparent;

}
.each-slider{
    width: 18%;
    flex: 0 0 18%;
    justify-content: space-between;
    box-sizing: border-box;
    backface-visibility: hidden;
    background-color: transparent;
    padding-top: 3px;
    
}

.each-slider-title{
    width: 18%;
    padding-bottom: 50px;
    padding-right: 13px;
    position: relative;
    background-color: transparent;
    display: inline-block;
}

.each-slider-img{
    padding-top: 100%;
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 6px;
    
    
}
/* .each-slider-img:hover{
    border: 1px solid #ffc20e;
    opacity: 0.8;
    transition: 0.2s;
     
}*/

.song-title{
    font-size: 10px;
    font-weight: bold;
    margin-top:5px;
    cursor: pointer;
}






.column.right-content-container{
    width: 30%;
}
#right-content{
    margin-top: 30px;
    border-left: 1px solid #ffc20e;
    padding-left: 10px;
}

.artist-contain ul {
    list-style: none;
    padding: 0;
    
}
.artist-contain li {
    height: 50px;
    display: flex;
    margin-bottom: 10px;
}
.artistImg{
    max-height: 45px;
    width: auto;
    border-radius: 100%;
    cursor: pointer;
}
.artistContent{
    padding-left:10px ;
    width: 310px;
}
.follow{
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
}
.trackNum{
    font-size: 13px;
}
.follow img{
    max-height: 20px;
    width: auto;
    margin-bottom: -5px;
}
#followBtn{
    float: right;
}




footer{
    clear: both;
    
    height: 200px;
    margin-top: -200px;
    background-color: #222326;
    color: #fff;
    border-top: 2px solid #FFA500;
}

.footerColumn{
    float: left;
    padding: 10px;
    padding-right: 80px;
    padding-top: 12px ;
}
.footerColumn.left-content-footer{
    width: 20%;
    padding-left: 50px;
    
}
.footerColumn.middle-content-footer{
    width: 33%;
}
.footerColumn.right-content-footer{
    width: 20%;
}

#footerCate{
    color: #FFA500;
    font-size: 20px;
}

#emailBar{
    border-radius: 5px;
    background-color: #FFA500;
    border: none;
    height: 22px;
    margin-top: 5px;
    width: 210px;
    
}
